# Fedi Credentials

# Instance domain URL, username, and password of your fedi bot
# Username and password create a secret access token stored in redditbot_clientcred.secret
URL = 'https://your_instance.space'
USERNAME = "your_bots_username"
PASSWORD = "your_bots_password"

# Name of database file for noting which posts we've posted already, will create if it doesnt exist
FILE = 'posted_statuses.db'

# Reddit Preferences

# Which subreddit to check for posts?
# Example, for posts from r/Megaten: SUBREDDIT = 'Megaten'
# Or to pull from multiple subreddits: SUBREDDIT = 'Megaten+PERSoNA+animemes+copypasta'
SUBREDDIT = 'Megaten'
# Which subreddit sort to check under? Accepts: new / top / hot / rising / controversial / gilded
SUBREDDIT_SORT = 'new'
# How many minutes to wait until checking Reddit for new posts and checking for new posts? Default 10 minutes
TOOT_PERIOD = 10
# Copy flairs (meme, spoiler, meta, etc) from the Reddit post and use as CWs?
# Example: FLAIRS = [ "meme", "spoiler" ]
FLAIRS = []
# Set content warnings based on a match in the Reddit post title
# Example: CONTENT_WARNINGS = { 'CW: eris mention': ['eris', 'boderis'] }
CONTENT_WARNINGS = {}
# Overrides FLAIR and CONTENT_WARNINGS, sets Reddit's title as fedi's CW
TITLE_AS_CW = 'true'

# Fedi Status Preferences

# Format of post used by script with everything enabled:
# CONTENT_PREFIX + TITLE_PREFIX + Reddit title + TEXT_PREFIX + Post text + AUTHOR_PREFIX + author name + LINK_PREFIX + link

# Mastodon's API accepts: public, unlisted, private, direct
VISIBILITY = "unlisted"

# Do you want images marked NSFW on Reddit to also be marked sensitive on fedi?
# Options: true (match reddit nsfw tag), always (always mark nsfw on fedi), or false (never mark nsfw)
MARK_NSFW = 'true'

# Post title of the Reddit post with the Mastodon status?
TITLES_ENABLED = 'false'
POST_TEXT_ENABLED = 'true'
AUTHOR_ENABLED = 'false'
LINK_ENABLED = 'true'

# "PREFIX" options let you insert text before each section
# Use \n for inserting new lines
CONTENT_PREFIX = ""
TITLE_PREFIX = ""
TEXT_PREFIX = ""
AUTHOR_PREFIX = ""
LINK_PREFIX = "\n\nSource: "

# Alternative URLs

# Do you want to replace redd.it links with an alternative URL?
# If you want increased privacy, some examples: teddit.net, libredd.it
# You can also refer to the classic reddit interface: old.reddit.com
ALT_URL_ENABLED = 'false'
ALT_URL = 'libredd.it'

# Allows you to set if we're using a full URL or a short one
# full = https://alt_domain/r/Subreddit/postID (teddit.net requires this)
# short = https://alt_domain/postID (works with libredd.it, redd.it, etc)
ALT_URL_TYPE = 'short'

# Post Scheduling

# Should we schedule the post instead of immediately post?
# You can view your scheduled post queue in Mastodon, masto-fe, or clients like Tusky/Husky, and then review, change, post, etc.
# This means you can set for some future time (ie a year) and then review the posts and curate your own schedule queue
# This gives you some level of quality control to handpick posts made by your bot
SCHEDULE_POSTS = 'false'

# How far in the future should it be scheduled?
# pandas timedelta formatting, i.e., SCHEDULE_DELAY = '365 days', '20 days 15 minutes', etc
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Timedelta.html
SCHEDULE_DELAY = '365 days'
